@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');



body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif; 
  background-color: #f9fafb; 
  color: #111827; 
}

/* Container utility */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}


button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background-color: #1e40af;
}
