html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #f9fafb;
  color: #111;
}


#root {
  min-height: 100vh;
  width: 100%;
  display: block;
}
